/* Slideshow container */
.slideshow-container {
    width: 1000px;
    height: 750px;
    position: relative;
    margin: auto;
    border: 5px solid #c93c83;
    border-radius: 20px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #cbcbcb;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    background-color: rgba(17, 18, 43,0.8);
}

.prev {
    background-color: rgba(17, 18, 43,0.8);
}

/* Caption text */
.text {
    color: #11122b;
    font-family: "Trochut", sans-serif;
    font-size: 1.75em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 98%;
    text-align: center;
    background-color: rgba(203, 203, 203, .75);
    border-radius: 10px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #11122b;
    font-size: 1.2em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(203, 203, 203, .75);
    border-radius: 18px 0px 0px 0px;
}
    
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #cbcbcb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #11122b;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}